page {
  color: $primary-text;
  height: 100%;
}

button[type=primary] {
  background-color: $primary-color;
}

button[type="delete"] {
  color: $primary-color-light;
  background: transparent;

  &:after {
    border: 1px solid;
  }
}

button[disabled][type=primary],
button[loading][type=primary],
button[type=primary].button-hover {
  background-color: rgba(255, 103, 129, 0.6);
}

.page {
  padding-bottom: 1px;
  height: 100%;
  overflow: hidden;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .1);
}

.section {
  height: calc(100% - 68px);
  overflow: auto;
}

.nav-footer {
  position: relative;
  z-index: 2;
}

.regular-text {
  color: $regular-text;
}

.label-text {
  font-size: 14px;
  color: $regular-text;
}

.small-text {
  font-size: 12px;
  color: $secondary-text;
}

.empty-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  color: $regular-text;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  display: block;
}

.v-line {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    display: block;
    background-color: #ddd;
    z-index: -1;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}